RentACar/src/main/resources/wsdl/Administrator.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://localhost:8087/api/Administrator/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8087/api/Administrator/"
	targetNamespace="http://localhost:8087/api/Administrator/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://localhost:8087/api/Administrator/"
			version="1.0">
			<xs:element name="acceptCommentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="review" type="tns:reviewDTOA" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="acceptCommentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="review" type="tns:reviewDTOA" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="declineCommentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="review" type="tns:reviewDTOA" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="declineCommentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="endUserA">
				<xs:sequence>
					<xs:element minOccurs="0" name="address"
						type="xs:string" />
					<xs:element minOccurs="0" name="idUser" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="phone" type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="reviews" nillable="true" type="tns:reviewA" />
					<xs:element minOccurs="0" name="surname"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reviewA">
				<xs:sequence>
					<xs:element name="accepted" type="xs:boolean" />
					<xs:element minOccurs="0" name="content"
						type="xs:string" />
					<xs:element name="deleted" type="xs:boolean" />
					<xs:element minOccurs="0" name="endUser"
						type="tns:endUserA" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="renter"
						type="tns:renterA" />
					<xs:element name="stars" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="renterA">
				<xs:sequence>
					<xs:element minOccurs="0" name="idUser" type="xs:long" />
					<xs:element minOccurs="0" name="priceList"
						type="tns:priceListA" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="reviews" nillable="true" type="tns:reviewA" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="vehicles" nillable="true" type="tns:vehicleA" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="priceListA">
				<xs:sequence>
					<xs:element name="cdwPrice" type="xs:double" />
					<xs:element name="pricePerMile" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="vehicleA">
				<xs:sequence>
					<xs:element minOccurs="0" name="cdw" type="xs:boolean" />
					<xs:element name="childSeatsNo" type="xs:int" />
					<xs:element minOccurs="0" name="gasType"
						type="tns:gasTypeA" />
					<xs:element minOccurs="0" name="gearBox"
						type="xs:string" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="image" nillable="true" type="xs:byte" />
					<xs:element name="mileage" type="xs:int" />
					<xs:element minOccurs="0" name="model" type="tns:modelA" />
					<xs:element minOccurs="0" name="owner"
						type="tns:renterA" />
					<xs:element minOccurs="0" name="price"
						type="tns:priceListA" />
					<xs:element name="proposedMileage" type="xs:int" />
					<xs:element minOccurs="0" name="vehicleClass"
						type="tns:vehicleClassA" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="gasTypeA">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="modelA">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="manufacturer"
						type="tns:manufacturerA" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="manufacturerA">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="vehicleClassA">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="agentA">
				<xs:sequence>
					<xs:element minOccurs="0" name="address"
						type="xs:string" />
					<xs:element minOccurs="0" name="company"
						type="tns:companyA" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="phone" type="xs:string" />
					<xs:element minOccurs="0" name="renter"
						type="tns:renterA" />
					<xs:element minOccurs="0" name="surname"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="companyA">
				<xs:sequence>
					<xs:element minOccurs="0" name="address"
						type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="agents" nillable="true" type="tns:agentA" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="renter"
						type="tns:renterA" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reportA">
				<xs:sequence>
					<xs:element minOccurs="0" name="review"
						type="tns:reviewA" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="userModelA">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="password"
						type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="permissions" nillable="true" type="tns:permissionsA" />
					<xs:element minOccurs="0" name="uloga"
						type="tns:userTypeA" />
					<xs:element minOccurs="0" name="username"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reviewDTOA">
				<xs:sequence>
					<xs:element minOccurs="0" name="content"
						type="xs:string" />
					<xs:element minOccurs="0" name="endUserUsername"
						type="xs:string" />
					<xs:element minOccurs="0" name="id" type="xs:long" />
					<xs:element minOccurs="0" name="renterUsername"
						type="xs:string" />
					<xs:element name="stars" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="adminA">
				<xs:sequence>
					<xs:element minOccurs="0" name="user"
						type="tns:userModelA" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="permissionsA">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:simpleType name="userTypeA">
				<xs:restriction base="xs:string">
					<xs:enumeration value="RENTER" />
					<xs:enumeration value="COMPANY" />
					<xs:enumeration value="ADMIN" />
					<xs:enumeration value="AGENT" />
					<xs:enumeration value="NOT_ACTIVE" />
					<xs:enumeration value="BLOCKED" />
					<xs:enumeration value="REMOVED" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="declineCommentResponse">
		<wsdl:part element="tns:declineCommentResponse"
			name="declineCommentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="declineCommentRequest">
		<wsdl:part element="tns:declineCommentRequest"
			name="declineCommentRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="acceptCommentResponse">
		<wsdl:part element="tns:acceptCommentResponse"
			name="acceptCommentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="acceptCommentRequest">
		<wsdl:part element="tns:acceptCommentRequest"
			name="acceptCommentRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AdministratorPort">
		<wsdl:operation name="declineComment">
			<wsdl:input message="tns:declineCommentRequest"
				name="declineCommentRequest">
			</wsdl:input>
			<wsdl:output message="tns:declineCommentResponse"
				name="declineCommentResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="acceptComment">
			<wsdl:input message="tns:acceptCommentRequest"
				name="acceptCommentRequest">
			</wsdl:input>
			<wsdl:output message="tns:acceptCommentResponse"
				name="acceptCommentResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AdministratorPortSoap11"
		type="tns:AdministratorPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="declineComment">
			<soap:operation soapAction="" />
			<wsdl:input name="declineCommentRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="declineCommentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="acceptComment">
			<soap:operation soapAction="" />
			<wsdl:input name="acceptCommentRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="acceptCommentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AdministratorPortService">
		<wsdl:port binding="tns:AdministratorPortSoap11"
			name="AdministratorPortSoap11">
			<soap:address location="http://localhost:8087/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>