RentACar/src/main/resources/wsdl/RazmenaPoruka.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://localhost:8089/api/RazmenaPoruka/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8089/api/RazmenaPoruka/"
	targetNamespace="http://localhost:8089/api/RazmenaPoruka/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://localhost:8089/api/RazmenaPoruka/"
			version="1.0">
			<xs:element name="sendMessageRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="tns:messageRP" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendMessageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAllMessageRequest">
			</xs:element>
			<xs:element name="getAllMessageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="messages"
							type="tns:messageRP" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="editMessageRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="tns:messageRP" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="editMessageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteMessageRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="messageId" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteMessageResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="messageRP">
				<xs:sequence>
					<xs:element minOccurs="0" name="content"
						type="xs:string" />
					<xs:element minOccurs="0" name="date" type="xs:dateTime" />
					<xs:element minOccurs="0" name="reciever"
						type="tns:userModelRP" />
					<xs:element minOccurs="0" name="sender"
						type="tns:userModelRP" />
					<xs:element minOccurs="0" name="subject"
						type="xs:string" />
				</xs:sequence>
				<xs:attribute name="id" type="xs:long" use="required" />
			</xs:complexType>
			<xs:complexType name="userModelRP">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="inbox" nillable="true" type="tns:messageRP" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="outbox" nillable="true" type="tns:messageRP" />
					<xs:element minOccurs="0" name="password"
						type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="permissions" nillable="true" type="tns:permissionsRP" />
					<xs:element minOccurs="0" name="uloga"
						type="tns:userTypeRP" />
					<xs:element minOccurs="0" name="username"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="logedUserRP">
				<xs:sequence>
					<xs:element minOccurs="0" name="userId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="permissionsRP">
				<xs:restriction base="xs:string" />
			</xs:simpleType>
			<xs:simpleType name="userTypeRP">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ENDUSER" />
					<xs:enumeration value="RENTER" />
					<xs:enumeration value="ADMIN" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getAllMessageResponse">
		<wsdl:part element="tns:getAllMessageResponse"
			name="getAllMessageResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="editMessageResponse">
		<wsdl:part element="tns:editMessageResponse"
			name="editMessageResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageRequest">
		<wsdl:part element="tns:sendMessageRequest"
			name="sendMessageRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageResponse">
		<wsdl:part element="tns:sendMessageResponse"
			name="sendMessageResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteMessageResponse">
		<wsdl:part element="tns:deleteMessageResponse"
			name="deleteMessageResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllMessageRequest">
		<wsdl:part element="tns:getAllMessageRequest"
			name="getAllMessageRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="editMessageRequest">
		<wsdl:part element="tns:editMessageRequest"
			name="editMessageRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteMessageRequest">
		<wsdl:part element="tns:deleteMessageRequest"
			name="deleteMessageRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MessagesPort">
		<wsdl:operation name="getAllMessage">
			<wsdl:input message="tns:getAllMessageRequest"
				name="getAllMessageRequest">
			</wsdl:input>
			<wsdl:output message="tns:getAllMessageResponse"
				name="getAllMessageResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editMessage">
			<wsdl:input message="tns:editMessageRequest"
				name="editMessageRequest">
			</wsdl:input>
			<wsdl:output message="tns:editMessageResponse"
				name="editMessageResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendMessage">
			<wsdl:input message="tns:sendMessageRequest"
				name="sendMessageRequest">
			</wsdl:input>
			<wsdl:output message="tns:sendMessageResponse"
				name="sendMessageResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteMessage">
			<wsdl:input message="tns:deleteMessageRequest"
				name="deleteMessageRequest">
			</wsdl:input>
			<wsdl:output message="tns:deleteMessageResponse"
				name="deleteMessageResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MessagesPortSoap11"
		type="tns:MessagesPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAllMessage">
			<soap:operation soapAction="" />
			<wsdl:input name="getAllMessageRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="editMessage">
			<soap:operation soapAction="" />
			<wsdl:input name="editMessageRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="editMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendMessage">
			<soap:operation soapAction="" />
			<wsdl:input name="sendMessageRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteMessage">
			<soap:operation soapAction="" />
			<wsdl:input name="deleteMessageRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MessagesPortService">
		<wsdl:port binding="tns:MessagesPortSoap11"
			name="MessagesPortSoap11">
			<soap:address location="http://localhost:8089/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>